@model List<Hrs.Website.Shared.Dtos.HotelDto>
@{
    Layout = "_Layout";
}

@if (User.HasClaim("Permission", "hotel.create"))
{
    <a asp-controller="Hotel" asp-action="Create" class="btn btn-primary">Add Hotel</a>
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show border-0 bg-success text-white mb-4" role="alert" style="border-radius: 10px;">
        @TempData["Message"]
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Star Rating</th>
        <th>Total Rooms</th>
        <th>Action</th>
    </tr>
    </thead>
    @{
        foreach (var hotel in Model)
        {
            <tbody>
            <tr>
                <td>@hotel.Name</td>
                <td>@hotel.Location</td>
                <td>@hotel.StarRating</td>
                <td>@hotel.TotalRooms</td>
                <td><a href="#">View Details</a></td>
            </tr>
            </tbody>
        }
    }
</table>
</div>